{% extends "base.html" %}
<!--{% load crispy_forms_tags %}-->

{% block content %}
<!--link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/solar/bootstrap.min.css"-->

<div class="header-bar">
    <h3>{{ title }}</h3>
</div>

<div class="card-body">
    <form method="post">
        {% csrf_token %}
        <!--{{ form|crispy }}-->
        <table>
         {{ form.as_table }}
        </table>
        <input class="button" type="submit" value="Submit">
        <input class="button" value="Cancel" type="button" onclick="location.href='{% url 'todo_app:list' todo_list.id %}'">
        {% if object %}
        <input class="button" value="Delete this item" type="button"
               onclick="location.href='{% url 'todo_app:item-delete' todo_list.id object.id %}'">
        {% endif %}
    </form>
</div>
{% endblock %}
