{% extends "base.html" %}

{% block content %}

<div class="header-bar">
    <h3>Delete To-do Item</h3>
</div>

<div class="card-body">
    <p>Are you sure you want to delete the item: <b>{{ object.title }}</b>
    <p>from the list <i>{{ todo_list.title }}</i>?</p>

    <form method="POST">
        {% csrf_token %}
        <input class="button" value="Yes,delete." type="submit">
        <input class="button" value="Cancel" type="button"
               onclick="location.href='{% url 'todo_app:list' todo_list.id %}';"/>
    </form>
</div>
{% endblock %}
