{% extends "base.html" %}

<{% load crispy_forms_tags %}>

{% block content %}
  <div class="header-bar">
    <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/solar/bootstrap.min.css">
    <h1>Login</h1>
  </div>
  <div class="card-body">
    {% if form.errors %}
      <p>Your username and password didn't match. Please try again.</p>
    {% endif %}
    <!--form action="" method="post"-->
    <form method="post" action="{% url 'user_app:login' %}">
        {% csrf_token %}
        {{ form|crispy }}
        <input class="button" type="submit" value="Login Now">

        <input type="hidden" name="next" value="{% url 'todo_app:index' %}" />

    <small>
        <p>Don't have an account yet? <a href="{% url 'user_app:register' %}">Register </a></p>
    </small>
    </form>
  </div>
{% endblock content %}